* {
  box-sizing: border-box; }

body {
  background: #444;
  color: #eee;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
  body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(68, 68, 68, 0.7);
    z-index: -1; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

a {
  color: #eee;
  text-decoration: none; }

.text-secondary {
  color: #eece1a; }

/* Navigation Bar */
nav {
  width: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  color: #eee;
  position: fixed;
  top: 0;
  overflow: hidden;
  box-shadow: 0px 8px 17px -8px rgba(0, 0, 0, 0.1); }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  nav li {
    float: left; }
  nav a {
    display: block;
    text-align: center;
    padding: 10px 14px;
    text-transform: uppercase;
    font-size: 0.8rem; }
  nav a:hover {
    color: #eece1a;
    transition: all .5s ease-out; }
  nav a#openup {
    display: none; }

#home {
  padding: 4rem;
  height: 100%;
  overflow: hidden; }
  #home .icons {
    margin-top: 1rem; }
    #home .icons a {
      padding: 0.4rem; }
      #home .icons a:hover {
        color: #eece1a;
        transition: all .5s ease-out; }
  #home h1 {
    margin-top: 20vh; }

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.8em; }
  nav {
    height: auto;
    border-bottom: 0; }
    nav ul {
      display: none;
      height: auto; }
    nav li {
      width: 100%;
      float: left;
      position: relative; }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #333;
      border-bottom: 1px solid #555; }
    nav a:hover {
      background: #444; }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px; }
    nav a#openup {
      display: block;
      background-color: #333;
      width: 100%;
      position: relative; } }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

/* For IE 6/7 (trigger hasLayout) */
