// DeskTops & Laptops
@include mediaLg {

}

// Tablets & Small Laptops
@include mediaMd {
    #home {
        align-items: center;
        text-align: center;

        .main-nav {
            display: none;
        }

        // Small nav
        .menu-small{
            display: block;
            position: absolute;
            width: 100%;
            background: transparent;
            height: 100%;
            z-index: 2;
    
            .main-small {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $menu-bg;
            transform: translateY(-1000px);
            opacity: 0.9;
            transition: transform 0.8s ease-in-out;

            &.show {
                transform: translateY(0px);
            }

            li {
                padding: 10px;
            }

            a {
                font-size: 1.5rem;

                &:hover {
                    color: $secondary-color;
                    @include easeOut;
                }
            }

           
            }

            .menu-btn {
                cursor: pointer;
                position: fixed;
                z-index: 2;
                top: 30px;
                right: 30px;
          
                &:hover {
                  opacity: 0.8;
                }
                
              }
    
        }
    }
    

    .lg-heading{
        line-height: 1;
        margin-bottom: 1rem;
    }
    
    #about {
        .container{
            max-width: 80%;
            padding: 0.5rem;

            h1{
                font-size: 1.8rem;
                // margin-top: 5vh;
            }

            .about-info{
                grid-template-columns: 1fr;
                padding: .5rem;
                
                .bio {
                    margin-top: 1px;
                }
            }
        }
    }

    #work{
        text-align: center;
    }


    #contact {
        h1 {
            font-size: 4rem;
        }
        .boxes {
            div {
                font-size: 1.5rem;
                padding: 1rem;
                width: 70%;
                margin-bottom: 2rem;

                &:hover {
                    padding: 0.3rem 1rem;
                }

            }
        }
    }
}

// Smartphones
@include mediaSm {
    #home {
      h1 {
        font-size: 4rem;
        margin-top: 10vh;
      }
    }

    #contact {
        h1 {
            font-size: 3rem;
        }
        .boxes {
            div {
                font-size: 1.3rem;
                width: 80%;
            }
        }
    }
}