* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #444;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }

a {
  color: #eee;
  text-decoration: none; }

ul {
  list-style: none; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

.text-secondary {
  color: #eece1a; }

.menu-btn {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 30px;
  transform: translate(-50%, -50%);
  display: none; }

#home .main-nav {
  top: 0;
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  overflow: hidden;
  box-shadow: 0px 8px 17px -8px rgba(0, 0, 0, 0.1);
  z-index: 2; }
  #home .main-nav .container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 1rem; }
  #home .main-nav ul {
    display: flex; }
  #home .main-nav .main-menu li {
    padding: 0 20px; }
  #home .main-nav .main-menu a {
    padding-bottom: 2px; }
  #home .main-nav .main-menu a:hover {
    border-bottom: 2px solid #fff; }
  #home .main-nav .right-menu li {
    padding: 0 10px; }
    #home .main-nav .right-menu li b {
      color: #DF292D; }
  #home .main-nav a:hover {
    color: #eece1a;
    transition: all 0.6s ease-out; }

#home .showcase {
  background: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  height: 100vh;
  z-index: 1;
  padding: 4rem;
  height: 95vh;
  overflow: hidden; }
  #home .showcase:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(68, 68, 68, 0.7); }
  #home .showcase .icons {
    margin-top: 1rem; }
    #home .showcase .icons a {
      padding: 0.4rem; }
      #home .showcase .icons a:hover {
        color: #eece1a;
        transition: all 0.6s ease-out; }
  #home .showcase h1 {
    margin-top: 20vh; }

#about {
  background-color: #eee;
  color: #000;
  /* Container */ }
  #about .container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    text-align: center; }
    #about .container .lg-heading {
      display: inline-block; }
      #about .container .lg-heading :after {
        content: '';
        display: block;
        border-top: 6px solid #DF292D; }
    #about .container .about-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 6rem;
      padding: 2rem; }
      #about .container .about-info .bio-image {
        width: 100%;
        border-radius: 80%; }
      #about .container .about-info .bio {
        margin-top: 2rem;
        text-align: left; }
        #about .container .about-info .bio p {
          font-size: 1.3rem; }
        #about .container .about-info .bio a {
          cursor: pointer;
          display: inline-block;
          border: 0;
          font-weight: bold;
          padding: 10px 20px;
          background: #333;
          color: #eee;
          font-size: 15px;
          margin-top: 1rem; }
          #about .container .about-info .bio a:hover {
            opacity: 0.8; }
          #about .container .about-info .bio a:hover i {
            margin-left: 10px; }

#work {
  padding: 2rem; }
  #work .projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 4rem; }
    #work .projects img {
      width: 100%;
      border: 3px #eee solid; }
      #work .projects img:hover {
        opacity: 0.5;
        border-color: #eece1a;
        transition: all 0.6s ease-out; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #eece1a;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #c4c4c4;
  color: #333; }

#contact {
  background-color: #eee;
  color: #000;
  padding: 2rem; }
  #contact .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem; }
    #contact .boxes div {
      font-size: 2rem;
      border: 3px solid #fff;
      padding: 1.5rem 2.5rem;
      margin-bottom: 3rem;
      transition: all 0.6s ease-out; }
      #contact .boxes div:hover {
        padding: 0.5rem 1.5rem;
        background: #eece1a;
        color: #000; }
        #contact .boxes div:hover span {
          color: #000; }

#main-footer {
  padding: 1rem;
  text-align: center;
  background-color: #2b2b2b;
  color: #fff;
  height: 60px; }

@media screen and (max-width: 750px) {
  .menu-btn {
    display: block; }
    .menu-btn:hover {
      opacity: 0.8; }
  #home {
    align-items: center;
    text-align: center; }
    #home .main-nav .main-menu {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #444;
      width: 100%;
      height: 50%; }
    #home .main-nav .right-menu {
      display: none; }
  .lg-heading {
    line-height: 1;
    margin-bottom: 1rem; }
  #about .container {
    max-width: 80%;
    padding: 0.5rem; }
    #about .container h1 {
      font-size: 1.8rem; }
    #about .container .about-info {
      grid-template-columns: 1fr;
      padding: .5rem; }
      #about .container .about-info .bio {
        margin-top: 1px; }
  #work {
    text-align: center; }
  #contact h1 {
    font-size: 4rem; }
  #contact .boxes div {
    font-size: 1.5rem;
    padding: 1rem;
    width: 70%;
    margin-bottom: 2rem; }
    #contact .boxes div:hover {
      padding: 0.3rem 1rem; } }

@media screen and (max-width: 480px) {
  #home h1 {
    font-size: 4rem;
    margin-top: 10vh; }
  #contact h1 {
    font-size: 3rem; }
  #contact .boxes div {
    font-size: 1.3rem;
    width: 80%; } }
